@*@model List<EntityLayer.Concrete.Destination>*@
@model List<Destination>


<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Content/Traversal-Liberty/assets/images/bodrum1.jpg", "/Traversal-Content/Traversal-Liberty/assets/images/slider1.jpg","/Traversal-Content/Traversal-Liberty/assets/images/antalya1.jpg", "/Traversal-Content/Traversal-Liberty/assets/images/barcelona.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>You don't need to go far to find what matters.</h3>
                        <h6 class="mb-3">Discover your next adventure</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">

                            <form asp-action="DestinationDetails" asp-controller="Destination" method="get" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <select name="id">
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.DestinationId">@item.City</option>

                                            }
                                        </select>
                                    </div>
                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                      
                                        <button class="btn btn-style btn-secondary" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
