@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Contact Us Messages</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sender</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Open Message</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ContactUsId</td>
        <td>@item.Name</td>
        <td>@item.Subject</td>
        <td>@item.MessageDate</td>
        <td><a href="#" class="btn btn-success">Open Message</a></td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
    }
</table>
