@model ForgetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MDS Tour User Registration Screen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/register/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/register/css/style.css">
</head>

<body>
    <img src="~/register/images/registerimage1" alt="" class="image-3">
    <div class="wrapper">
        <div class="inner">
            <img src="~/register/images/registerimag3.png" style="position:initial" alt="" class="image-1">
            <form method="post">
                <h3>Password Renewal Link Page</h3>
                <div class="form-holder">
                    <b>Mail Adress:</b>
                    <br />
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control"  asp-for="Mail">
                </div>

                <button>
                    <span>Send Password Reset Link</span>
                </button>

            </form>
            <img src="~/register/images/registerimage4.png" style="position:static" alt="" class="image-2">
        </div>

    </div>

    <script src="~/register/js/jquery-3.3.1.min.js"></script>
    <script src="~/register/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

@*dogandogan0303@gmail.com*@