@model ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MDS Tour User Registration Screen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/register/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/register/css/style.css">
</head>

<body>
    <img src="~/register/images/registerimage1" alt="" class="image-3">
    <div class="wrapper">
        <div class="inner">
            <img src="~/register/images/registerimag3.png" style="position:initial" alt="" class="image-1">
            <form method="post">
                <h3>Password Renewal Page</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                </div>
                <div>
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                </div>
                <div>
                    <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                </div>
                <button>
                    <span>Reset Password</span>
                </button>

            </form>
            <img src="~/register/images/registerimage4.png" style="position:static" alt="" class="image-2">
        </div>

    </div>

    <script src="~/register/js/jquery-3.3.1.min.js"></script>
    <script src="~/register/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>














@*<!DOCTYPE html>

<h2>Password Renewal Page</h2>

<div class="container">
    <br /> <br />
    <form method="post">
        <label>Password:</label>
        <input type="text" class="form-control" asp-for="Password" />
        <br />
        <label>Confirm Password:</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <br />
        <button class="btn btn-discard-todo">Reset Password</button>

    </form>
</div>
*@
