
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Destination/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt "></i>
            <div data-i18n="Analytics">Destinations</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bed"></i>
            <div data-i18n="Analytics">Reservations</div>
        </a>
    </li>

      <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-face"></i>
            <div data-i18n="Analytics">Users</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment-add"></i>
            <div data-i18n="Analytics">Comments</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message"></i>
            <div data-i18n="Analytics">Messages</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Guide/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxl-patreon"></i>
            <div data-i18n="Analytics"> Guides </div>
        </a>
    </li>
    
   @* <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Password Operations</div>
        </a>
    </li>*@

     <li class="menu-item">
        <a href="/Admin/EMail/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">Send Mail</div>
        </a>
    </li>

   @* <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">News Letter</div>
        </a>
    </li>*@

    <li class="menu-item">
        <a href="/Admin/Announcement/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Announcements</div>
        </a>
    </li>
     <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Analytics">Role Actions</div>
        </a>
    </li>

     <li class="menu-item">
        <a href="/Excel/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Reports</div>
        </a>
    </li>





    @* <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li>
    <li class="menu-item">
    <a href="cards-basic.html" class="menu-link">
    <i class="menu-icon tf-icons bx bx-collection"></i>
    <div data-i18n="Basic">Cards</div>
    </a>
    </li>*@

</ul>


