@model List<ApiMovieModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Api ımdb top 100 Film Listesi</h1>
<br />

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Film Adı</th>
        <th>IMDB Puanı</th>
        <th> Yapım yılı</th>
        <th>Fragman</th>
        
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <th>@item.rank</th>
        <td>@item.title</td>
        <td>@item.rating</td>
        <td>@item.year</td>
        <td><a href="#" class="btn btn-outline-dark">Fragmanı İzle</a></td>
    </tr>
    }
</table>
