
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Excel Report</h1>

<br />
@*<div>
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-primary" > Static Excel Reports</a>
<br />
</div>*@
<br />
<br />
<div>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-info" > Dynamic Destination Excel Reports</a>
</div>