@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {

            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5097/VisitorHub").build(); //::::maybe hubConnectionBuilder:::
            $("#conntectionStatus").text(connection.q);            //Bağlanmadan önceki durum

            connection.start().then(() => {
                $("#conntectionStatus").text(connection.q);        //Bağlanma gerçekleştikten hemen sonraki durumunu getir.
            }).catch((err) => { console.log(err) });

        })
    </script>

}
    <div class="container">
        <br />
        <div class="alert alert-warning">
            Bağlantınızın durumu: <b id="conntectionStatus"></b>
        </div>
    </div>

 