@using EntityLayer.Concrete
@model List<Feature2>



<div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
    <div class="row">
        @*<div class="maghny-gd-1 col-6">
        <div class="maghny-grid">
        <figure class="effect-lily border-radius">
        <img class="img-fluid" src="/Traversal-Starter/Traversal-Starter/assets/images/g9.jpg" alt="" />
        <figcaption>
        <div>
        <h4>3Days, 4 Nights</h4>
        <p>From 1220$ </p>
        </div>

        </figcaption>
        </figure>
        </div>
        </div>
        <div class="maghny-gd-1 col-6">
        <div class="maghny-grid">
        <figure class="effect-lily border-radius">
        <img class="img-fluid" src="/Traversal-Starter/Traversal-Starter/assets/images/g8.jpg" alt="" />
        <figcaption>
        <div>
        <h4>3Days, 4 Nights</h4>
        <p>From 1620$ </p>
        </div>

        </figcaption>
        </figure>
        </div>
        </div>
        <div class="maghny-gd-1 col-6 mt-4">
        <div class="maghny-grid">
        <figure class="effect-lily border-radius">
        <img class="img-fluid" src="/Traversal-Starter/Traversal-Starter/assets/images/g7.jpg" alt="" />
        <figcaption>
        <div>
        <h4>3Days, 4 Nights</h4>
        <p>From 1820$ </p>
        </div>

        </figcaption>
        </figure>
        </div>
        </div>*@

        @foreach (var item in Model)
        {



            <div class="maghny-gd-1 col-6 mt-4">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius">
                        <img class="img-fluid" src="@item.Image" alt="" />
                        <figcaption>
                            <div>
                                <h4>@item.Title</h4>
                                <p>@item.Description </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
        }
    </div>
</div>



@* <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="/Traversal-Starter/Traversal-Starter/assets/images/g6.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>3Days, 4 Nights</h4>
                                        <p>From 1520$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>*@
