@model EntityLayer.Concrete.Reservation

@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_NewUserLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <br>
                <h5 class="card-title">My Waiting Reservation Table</h5>
                
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>

                    <form method="post">
                        <div class="form-group">
                            <label>Destination</label>
                            <@Html.DropDownListFor(x=>x.DestinationId,(List<SelectListItem>)ViewBag.v,new{@class="form-control",@name="DestinationId"})
                        </div>
                        <div class="form-group">
                            <label>Count of Person </label>
                            <input type="number" placeholder="Please enter the count of people as numbers only." max="15" min="1" asp-for="PersonCount" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Description(optional) </label>
                            <input type="text" asp-for="Description" class="form-control" />
                        </div>

                        <button class=" btn btn-success">Make a Reservation</button>




                        @* pop up*@
                        <script>
                            window.onload = (function() {
                                alert('Your reservation will be initially waiting confirmation. Do not forget to follow the "My Current Reservations" menu for the reservation confirmation process..');
                            });</script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





