
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Retrieve city id information for hotels</h2>
<br /> <br />
<form method="post">
<div>
    <label>Enter the city name</label>
    <br />
    <input type="text" class="form-control" name="p"/>
    
</div>
<br />
<button class="btn btn-primary">Get City ID</button>
</form>