@model CreateRoleModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 style="color:lightcoral" class="mb-0">Add Destination</h5>
            </div>
            <div class="card-body">

                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Enter the Role name</label>
                        <input type="text" asp-for="RoleName" class="form-control" /> 
                    </div>
                    <button class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>

</div>


