@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br /> <br />
<h1>User List</h1>

<table class="table table-bordered">
    <tr>
        <th style="text-overflow">UserName</th>
        <th>Assign role</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td><a href="/Admin/Role/AssignRole/@item.Id" class="btn btn-success" >Assign Role</a></td>
        </tr>
    }
</table>

