@model EntityLayer.Concrete.AppUser
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 style="color:lightcoral" class="mb-0">Update User</h4>

            </div>
            <div class="card-body">
                <form method="post">
                    @Html.HiddenFor(x=>x.Id)
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Name</label>
                        <input type="text" asp-for="Name" class="form-control" id="basic-default-fullname" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Surname</label>
                        <input type="text" asp-for="Surname" class="form-control" id="basic-default-company" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-email">UserName</label>
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   id="basic-default-email"
                                   class="form-control"
                                   asp-for="UserName" />
                        </div>                       
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-phone">Email</label>
                        <input type="text"
                               id="basic-default-phone"
                               class="form-control phone-mask" 
                               asp-for="Email"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-message">Phone Number</label>
                        <input type="text" asp-for="PhoneNumber"class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-message">Image</label>
                        <input type="text" asp-for="Image"class="form-control" />
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>

</div>

